<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freak Landing</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <header>
    <h1 class="title"><a href="/">Freak Board</a></h1>

    <ul class="navigation">
      {{#if logged_in}}
      <li>
        <a href="/profile">Profile</a>
      </li>
      {{else}}
      <li>
        <a href="/login">Login</a>
      </li>
      {{/if}}
      <li>
        <a href="/activity">Activity</a>
      </li>
      {{#if logged_in}}
      <li>
        <button class="no-button" id="log-out">Logout</button>
      </li>
      {{/if}}
  </header>

  <main>
    {{{body}}}
  </main>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}

</html>