<body>
  <h4>Log In</h4>
  <form class="login-form">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" /><br />

    <label for="password-login">Password:</label>
    <input type="password" id="password-login" /><br />

    <input type="submit" id="submit-login" value="Login" />
  </form>

  <h4>Sign Up</h4>
  <form class="signup-form">
    <label for="name-signup">Username:</label>
    <input type="text" id="name-signup" /><br />
    
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" /><br />

    <label class="password-signup">Password:</label>
    <input type="password" id="password-signup" /><br /><br />

    <input type="submit" id="submit-signup" value="Sign Up" />
  </form>
</body>

<script src="/js/login.js"></script>